.my-header {
  width: 50%;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 115px;
  padding-bottom: 50px;
}


/* === Projects flexgrid === */

.grid-container {
  display: grid;
  gap: 20px 1px;
  grid-template-columns: auto auto;
  justify-content: center;
  border: 0;
  margin: 0;
  padding: 0;
}
.grid-container div {
  width: 400px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

.hrounded:nth-of-type(odd) {
  border-radius: 15px 0 0 15px;
}
.hrounded:nth-of-type(even) {
  border-radius: 0 15px 15px 0;
}

.my-project-desc {
  padding: 16px;
  background-color: #222;
  color: #9E9E9E;
}
.my-project-desc >ul > li { list-style: disc; }

.my-project {
  /* border: 2px solid #ff8000; */
  overflow: hidden;
  z-index: 0;
} 

/* Style project images. */
.my-project img {
  width: 100%;
  height: auto;
  border: none;
}

/* Style project videos. */
.my-project video {
  width: 100% !important;
  height: auto !important;
  border: none;
}

/* Wrap iframes meant to display YouTube videos with this. */
.videoIframeWrapper{
  position: relative;
  height: 0;
  /* falls back to 16/9, but otherwise uses ratio from HTML */
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%); 
}
.videoIframeWrapper > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}


/* === Projects flexbox === */

.j-projects-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  place-content: center;
  gap: 20px;
}

.j-project {
  /* Create a flex vertical stack of title, desc, and media. */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  /* Limit min and max project width and height. */
  min-width: 300px;
  max-width: 500px;
  min-height: 100px;

  /* Card effect. */
  overflow: hidden;
  z-index: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
  border-radius: 25px;
}

.j-project > .j-project-title {
  padding: 10px;
  text-align: center;
  font-size: 25px;
  background-color:#111;
  color: aliceblue;
}

.j-project > .j-project-desc {
  padding: 16px;
  background-color:#222;
  color: #9e9e9e;
  
  border-bottom: 1px solid #111;
}

.j-project > .j-project-media {
  width: 100%;
  height: auto;
}

/* Style project images. */
.j-project img {
  width: 100% !important;
  height: auto !important;
  border: none;
}

/* Style project videos. */
.j-project video {
  width: 100% !important;
  height: auto !important;
  border: none;
}


/* === Carousel 0 === */

.my-project ul {
  display: flex;
  list-style: none;
  max-width: 600px;
  margin-block: 2rem;
  margin-inline: auto;
  overflow: auto;
  scroll-snap-type: x mandatory;  
}

.my-project li {
  display: grid;
  place-items: center;
  color: white;
  font-size: 3rem;

  aspect-ratio: 2/1;
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  /* background-color: yellow; */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-project li:nth-child(odd) {
  background-color: salmon;
}

.my-project li:nth-child(even) {
  background-color: rebeccapurple;
}
